$base-accent: #22a3ff;
$base-text-color: #ffffff;
$base-bg: #363640;
$base-border-color: #ffffff;
$base-border-radius: 4px;
$side-panel-min-width: 60px;
$selected-bg-color: rgba(34, 163, 255, 0.5);


:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 250px !important;
  

  .menu-container {
    min-height: 100%;
    display: flex;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 10px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
      pointer-events: none;
    }
    

    ::ng-deep .dx-treeview {
      white-space: nowrap;

      .dx-treeview-item {
        padding-left: 0;
        flex-direction: row-reverse;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }
      .custom-hover-item {
        &:hover {
          color: $base-accent; 
        }
      }
     
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;

      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }
      

      .dx-treeview-node {
        &[aria-level='1'] {
          font-weight: bold;
          border-bottom: 1px solid #777e8f
        }
  
        &[aria-level='2'] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 $side-panel-min-width;
        }
      }
    }

    ::ng-deep .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          &.dx-state-selected:not(.dx-state-focused)> .dx-treeview-item {
            background: transparent;
          }

         

          &:not(.dx-state-focused)>.dx-treeview-item.dx-state-hover {
            background-color: lighten(#777e8f, 4.00);
          }
        }
      }
    }

    :host-context(.dx-theme-generic) ::ng-deep.dx-treeview {
      .dx-treeview-node-container .dx-treeview-node.dx-state-selected.dx-state-focused > .dx-treeview-item * {
        color: inherit;
      }
    }
  }
  
  html, body {
    margin: 0px;
    min-height: 100%;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .content {
    line-height: 1.5;
    flex-grow: 1;
   
  
    h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  .container {
    height: 100%;
    flex-direction: column;
    display: flex;
  }
  
  .layout-body {
    flex: 1;
    min-height: 0;
  }
  
  .side-nav-outer-toolbar .dx-drawer {
    height: calc(100% - 56px)
  }
  
  .content-block {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  
    .screen-x-small & {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  .responsive-paddings {
    padding: 20px;
  
    .screen-large & {
      padding: 40px;
    }
  }
  
  .dx-card.wide-card {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-right: 0;
    border-left: 0;
  }
  
  .with-footer > .dx-scrollable-wrapper >
  .dx-scrollable-container > .dx-scrollable-content {
    height: 100%;
  
    & > .dx-scrollview-content {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }
  }
  
  $side-panel-min-width: 60px;
  
}

