

.content-block {
  height: 100vh; 
  width: 100%; 
  position: relative; 
  padding-top: 60px; 
}

.as-split {
  height: calc(100% - 60px); 
  width: 100%; 
}

.pane {
  padding: 16px;
  // background-color: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  height: 100%;
}

.as-split-area {
  overflow: hidden; 
}

.as-split-gutter {
  // background-color: #ddd;
  transition: background-color 0.2s ease;

  &.as-split-gutter-horizontal {
    width: 10px;
    cursor: col-resize;
  }

  &.as-split-gutter-vertical {
    height: 10px;
    cursor: row-resize;
  }

  &:hover {
     background-color: #7d7d7d;
  }
}

button {
  position: absolute;
  top: 5px; 
  width: 40px; 
  height: 40px;
  border: none;
  border-radius: 50%;
   background-color: rgb(115, 202, 249);
  color: white;
  font-size: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  
  &:focus {
    outline: none; 
  }

  &.locked {
    background-color: rgb(255, 187, 123);
  }

  &.unlocked {
    background-color: rgb(115, 202, 249); 
  }

  i {
    font-size: 20px; 
  }
}
