<div class="outer" >
  <div class="form-container">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="title">Login</h3>
      </div>
      <div class="panel-body" >
        <form [formGroup]="loginform" *ngIf="loginenable"> 
          <div class="form-group">
            <div class="input-field" [class.error]="loginform.controls['username'].dirty && loginform.hasError('required', 'username')">
              <span class="icon"><i class="fa fa-user"></i></span>
              <input formControlName="username" type="text" placeholder="Username" class="input-control">
            </div>
            <small *ngIf="loginform.controls['username'].dirty && loginform.hasError('required', 'username')" class="text-danger">Username is required</small>
          </div>

          <div class="form-group" [class.error]="loginform.controls['password'].dirty && loginform.hasError('required', 'password')">
            <div class="input-field">
              <span class="icon"><i class="fa fa-lock"></i></span>
              <input formControlName="password" [type]="type" placeholder="Password" class="input-control">
              <span (click)="showpass()" class="fa {{eyeicon}}"></span>
            </div>
            <small *ngIf="loginform.controls['password'].dirty && loginform.hasError('required', 'password')" class="text-danger">Password is required</small>
          </div>

          <div class="form-inline forgett">
            <div class="forget-password">
              <a routerLink="/reset-password" class="forgot-link" >Forgot Password?</a>
            </div>
          </div>

          <button (click)="onLogin()" type="submit" class="btn">Login</button>
          <div class="sign">Don't have an account? <a routerLink="/signup" id="signup">Sign Up</a></div>
        </form>
      </div>

      <div class="separator">
        <span>or connect with</span>
      </div>

      <div class="text-center">
        <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer" class="social-icon"><img src="assets/images/facebook.png" alt="Facebook" class="social-img"></a>
        <a href="http://www.google.com" target="_blank" rel="noopener noreferrer" class="social-icon"><img src="assets/images/google (2).png" alt="Google" class="social-img"></a>
        <a href="http://www.github.com" target="_blank" rel="noopener noreferrer" class="social-icon"><img src="assets/images/github.png"  alt="GitHub" class="social-img"></a>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal" *ngIf="modalVisible">
  <div class="modal-content">
    <form class="forgot-form">
      <h3>Forgot Your Password?</h3>
      <small>Please provide your Email we will Send you the reset link</small><br>

      <div class="form-group">
        <div class="input-field">
          <span class="icon"><i class="fa fa-user"></i></span>
          <input id="email" [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)"  type="text" placeholder="Enter your email" class="input-control">
        </div>  
      </div>
      <small *ngIf="resetPasswordEmail"  class="text-danger">*Email is required*</small>
      <small *ngIf="!isValidEmail && resetPasswordEmail"  class="text-danger">*Email is invalid*</small>

      <div class="button-group">
        <button type="button" class="btn verify-btn">Send </button>
        <button type="button" class="btn close-btn"  >Close</button>
      </div>
    </form>
  </div>
</div> -->

<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="exampleModalLabel"> 
                <div style="font-size: 25px;font-weight:700"><span>Forget your password?</span></div><br>
                  <small>Please provide your E-mail we will send the reset link</small>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">
              <div class="form-group pt-3">
                  <div class="input-field"> <span class="fa fa-user p-2"></span> <input type="text" placeholder="Email"> </div>
              </div>
              <small class="text-danger">*Email is required*</small>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send</button>
          </div>
      </div>
  </div>
</div>-->